.App {
  text-align: center;
}

.container {
  background-color: aqua;
}

Canvas {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.vermelho {
  background-color: #800404;
}

.segunda {
  height: 300vh;
}
